
<!DOCTYPE html>

<html lang="en">



<head>

    <title>Books</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <script type="text/javascript">

        const update = (id) => {

            window.open('http://localhost:3000/book/update/' + id);

        };
    </script>

</head>

<body>

<h2>List Books</h2>

<% for(const book of books) { %>

    <h3>

        Title: <%= book.title %>

    </h3>

    <p>

        Description: <%= book.description %>

    </p>

    <p>

        Author: <%= book.author %>

    </p>

    <button onclick="update('<%= book.id %>')">Update</button>

        <a href="/book/delete/<%= book.id %>">Delete</a>
    </br>

<% } %>
<a href="/book/create"> Create new book</a>
</body>

</html>